html { scroll-behavior: smooth;}

body {
    background-color: #242424;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: larger;
   }

   header {
    font-size: x-large;
    color: gainsboro
   }

.logo-icon {
    width : 50px;
    height : 50px;

    background-size: cover;
    border-radius: 50%;
}

.navigation-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-style: normal;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav>a{
    padding-left: 32px;
    padding-right: 32px;
    color: #242424;
    background-color: whitesmoke;
    border-radius: 15%;
}


#p1 {
    color: whitesmoke;
    font-size: larger;
}

.section_1 {
    text-align: center;
}

.main-image     {
        width: 100%;
        height: 600px;
    }

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      width: 100%;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
.tab {
    align-items: center;
}

article.profile-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.profile-item {
    text-align: center;
    color: azure;
    font-size: x-large
}

.profile-image {
    width : 100px;
    height : 100px;
    border: 1px solid;
    border-color: rgb(253, 253, 253);
    border-radius: 50%;
    opacity: 0.5;
}

.profile-image:hover {
    width : 100px;
    height : 100px;
    border: 1px solid;
    border-color: rgb(253, 253, 253);
    border-radius: 50%;
    opacity: 1.0;
}


.portfolio-content {
    padding-top: 50px;
    padding-left: 45px;
    font-size: xx-large;
    color: azure;
        display: flex;
}
  
    .image {
        padding-right: 25px;
        padding-bottom: 75px;
        width: 100%;
        opacity: 0.2;
    
    }

    .image:hover {
        padding-right: 25px;
        padding-bottom: 75px;
        width: 100%;
        opacity: 0.8;
    
    }

    .portfolio_p {
        position: absolute;
            text-align: justify;
            padding-top: 50px;
            padding-right: 1.5cm;
        }
      
    

    #portfolio_header {
        text-align: center;
    }

.container {
    background-color: #a9a9a9;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    gap: 20px;
}

#section4 {
    padding-top: 125px;
    padding-bottom: 125px;
}

.form-container {
    flex: 1;
}

.display-container {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.gender {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    background-color: #2a2b2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #5a6266;
    }

footer {
        text-align: right;
        background-color: #fff;
        color: #2b2727;
        padding-right: 25px;

    }

    /* For mobile phones: */
@media screen and (max-width:425px) {
    header {
        font-size: small;
        color: gainsboro;
        width: 175px;
    }
    
    #p1 {
        color: whitesmoke;
        font-size: small;
        width: 175px;
    }
    .slideshow-container {
        width: 175px;
        position: relative;
    }

}


   /* For Laptop: */
   @media screen and (max-width: 1024px) {
    .portfolio_p {height: 75%;
        font-size: small;
        /* position-anchor: inherit; */
        /* position: relative; */
        position: absolute;
    }
   }

 /* For Tablet: */
 @media screen and (max-width: 768px) {
    .portfolio_p {height: 75%;
        font-size: x-small;
        /* position-anchor: inherit; */
        /* position: relative; */
        position: absolute;
    }
    nav {
        font-size: small;
    }
   }

 
